<div id="app" class="container">
  <section class="row mt-5 mb-3">
    <div class="col-sm text-center">
      <h1>Monster Slayer</h1>
    </div>
  </section>
  <section class="row mb-3">
    <div class="col-sm">
      <app-progressbar [name]="'YOU'" [health]='playerHealth'></app-progressbar>
    </div>
    <div class="col-sm">
      <app-progressbar [name]="'MONSTER'" [health]='monsterHealth'></app-progressbar>
    </div>
  </section>
  <section class="row">
    <div class="col-sm" *ngIf="!gameIsRunning;else other_content">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Start new game</h5>
          <p class="card-text">After game started used required action to win</p>
          <button class="btn btn-primary" (click)="startGame()">START</button>
        </div>
      </div>
    </div>
    <ng-template #other_content>
      <div class="col-sm">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Game is started</h5>
            <p class="card-text">Used required action to win</p>
            <div class="btn-group col-sm-12" role="group">
              <button class="btn btn-danger col-sm" (click)="attack()">ATTACK</button>
              <button class="btn btn-warning col-sm" (click)="specialAttack()">SPECIAL ATTACK</button>
              <button class="btn btn-success col-sm" (click)="heal()" *ngIf="playerHealth < 100"> HEAL</button>
              <button class="btn btn-dark col-sm" (click)="giveUp()">GIVE UP</button>
            </div>
          </div>
          <div class="card-footer" *ngIf="turns.length != 0">
            <ul class="list-group">
              <li class="list-group-item list-group-item-primary active">Game Log</li>
              <li class="list-group-item list-group-item-action" *ngFor="let turn of turns" [ngClass]="{'list-group-item-success': turn.isPlayer, 'list-group-item-danger' : !turn.isPlayer}">
                {{turn.text}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </ng-template>
  </section>
</div>
